<!--nested in question-->
<h4>{{answer.author}}'s Answer:</h4>
<p>{{answer.content}}</p>
{{#if editAnswerForm}}
  <form>
    {{input value=answer.author id="author" placeholder="Your Name"}}

    {{textarea value=answer.content id="content" placeholder="Your Answer"}}

    <div class="answer-buttons">
      <button type="button" {{action 'cancel'}}>Cancel</button>
      <button type="button" {{action 'saveAnswerEdit' answer}}>Save Changes</button>
      <button type="button" {{action 'deleteAnswer' answer}}>Delete Answer</button>
    </div>

  </form>
{{else}}
<button type="button" {{action 'editAnswer' answer}}>Edit Answer</button>
{{/if}}
