{{#if addNewAnswer}}
<h2>Your Answer</h2>
  <div>
    <form>
      <div class="form-group">
        {{input value=author id="author" placeholder="Your Name"}}
      </div>
      <div class="form-group">
        {{textarea value=content id="content" placeholder="Your Answer"}}
      </div>
      <div class="buttons">
        <button {{action 'saveAnswer'}}>Save</button>
        <button {{action 'cancel'}}>Cancel</button>
      </div>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
