<div class="details">
  <div class="text">
    <h2>{{model.content}}</h2>
    <h3>{{model.notes}}</h3>
    <p>- {{model.author}}</p>
    {{edit-question saveEdit="saveEdit" question=model}}
  </div>
</div>

<div class="answers">
  <h1>Answers</h1>
    {{#each model.answers as |answer|}}
    <div class="answer-tile">
    {{answer-tile saveAnswerEdit="saveAnswerEdit" deleteAnswer="deleteAnswer" answer=answer}}
  </div>
    {{/each}}
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
